.hero__heading {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  margin-bottom: 0px;
  font-size: 100px;
  opacity: 0.8;
  background: url(https://cdn.pixabay.com/photo/2018/06/24/08/01/dark-background-3494082_960_720.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-position-y: -350px;
}
.hero__summary {
  font-family: "Source Serif 4", sans-serif;
  font-size: 30px;
  margin-top: 0;
  max-width: 900px;
  opacity: 0.65;
}

.hero > img {
  /* border: 10px solid red; */
  display: block;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 2px 0px 10px #0005;
  margin: 66px auto;
}
@media (max-width: 400px) {
  .hero > img {
    width: 100%;
    margin: 5% 0%;
  }
}

.timeline__divider {
  background: linear-gradient(to left, #0001, #0004, #0001);
  border: none;
  height: 1px;
  width: 60%;
}
.subgrid__column {
  padding: 0px 50px;
}
.subgrid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  margin-top: 150px;
}
.hero__summary > p:nth-child(1) {
  text-indent: 0;
}
.hero__summary > p {
  text-indent: 40%;
}
/* 1600, 1400, 980, 720, 450 */
@media (max-width: 1400px) {
  .subgrid {
    grid-template-columns: 1fr 5fr 0fr;
  }
}
@media (max-width: 980px) {
  .subgrid {
    display: block !important;
  }
  .subgrid__column {
    margin-top: 100px !important;
    padding: 0px !important;
    margin-right: 10px !important;
  }
  #printDiv {
    margin-right: 0px !important;
  }
}
@media (max-width: 720px) {
  .content {
    padding-right: 0px !important;
  }
}

@media (max-width: 450px) {
  .hero > h1 {
    font-size: 60px !important;
  }
  .hero__summary {
    font-size: 20px;
  }
  .hero {
    margin: 0px 20px;
  }

  .subgrid__column h3 {
    font-size: 25px;
  }
  .timeline__desc {
    font-size: 16px !important;
  }
}

.secondContent {
  border-top: "4px dotted #0009";
  padding: "20px";
}
