.home__socialCard {
  background: #f3f4f5;
  width: 160px;
  height: 110px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 10px;
}
.home__socialCard {
  box-shadow: 2px 1px 10px #0005;
}

#socialcard__BGPattern {
  position: relative;
  top: -172px;
  left: -43px;
  transform: rotateY(180deg);
  z-index: -1;
  /* opacity: 0.3; */
  width: 220px;
  height: 220px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23f08080' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.home__socialCard > div > h2 {
  margin: 0px;
  border-bottom: 4px dotted #0005;
  margin-bottom: 8px;
  font-weight: 300;
  margin-top: -25px;
}
.home__socialCard > div > p {
  font-family: "Source Serif 4", sans-serif;
  font-size: 1rem;
  margin: 0;
}
.socialLinksList {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 10px;
}
.socialLinksList > li {
  padding: 3px;
  font-size: 1.5rem;
  color: black;
}
.socialLinksList > li > a {
  color: navy;
}
.socialLinksList > li > a:hover {
  box-shadow: none;
}
